<!DOCTYPE html>
<html>
<!--
    Source:
    https://github.com/neveldo/jQuery-Mapael
-->
<head>
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.2.0/js/jquery.mapael.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-mapael@2.2.0/js/jquery.mapael.min.js"></script>
    <script src="https://rawgit.com/neveldo/jQuery-Mapael/master/js/maps/world_countries.js"></script>
    <script src="https://rawgit.com/neveldo/jQuery-Mapael/master/js/maps/usa_states.js"></script>
</head>
<body>

        <div class="container">
            <div class="map">Alternative content</div>
        </div>
        
        <script>
            $(".container").mapael({
                map : {
                    name : "world_countries"

                    // Set default plots and areas style
                    , defaultPlot: {
                        attrs: {
                            fill: "#004a9b"
                            , opacity: 0.6
                        }
                        , attrsHover: {
                            opacity: 1
                        }
                        , text: {
                            attrs: {
                                fill: "#505444"
                            }
                            , attrsHover: {
                                fill: "#000"
                            }
                        }
                    }
                    , defaultArea: {
                        attrs: {
                            fill: "#f4f4e8"
                            , stroke: "#ced8d0"
                        }
                        , attrsHover: {
                            fill: "#a4e100"
                        }
                        , text: {
                            attrs: {
                                fill: "#505444"
                            }
                            , attrsHover: {
                                fill: "#000"
                            }
                        }
                    }
                }

                // Add some plots on the map
                , plots: {
                    
                    // Image plot
                    'one': {
                        type: "image",
                        url: "http://www.neveldo.fr/mapael/assets/img/marker.png",
                        width: 12,
                        height: 40,
                        latitude: {{result.lat1}},
                        longitude: {{result.long1}},
                        attrs: {
                            opacity: 1
                        },
                        attrsHover: {
                            transform: "s1.5"
                        }
                    },

                    'two': {
                        type: "image",
                        url: "http://www.neveldo.fr/mapael/assets/img/marker.png",
                        width: 12,
                        height: 40,
                        latitude: {{result.lat2}},
                        longitude: {{result.long2}},
                        attrs: {
                            opacity: 1
                        },
                        attrsHover: {
                            transform: "s1.5"
                        }
                    }
                }
            });
        </script>

</body>
</html>